# Build output
bin/
obj/

# User-specific files
.vs/
*.user
*.suo

# Rider / VSCode
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env
.env
.env.*.local
.env.local
.env.keys
.env.*.keys
.env.*.keys.local

# Interno
docs
